{% extends "baseadmin.html.twig" %}
{% block body %} 
    <h2> Modifier la playlist : </h2>
    {{ form_start (formplaylist)}}
    
    {{ form_end (formplaylist)}}
     
{% endblock %}
{# empty Twig template #}
